@media screen and (max-width:1300px) {
  .button5{
  	padding: 0;
  	    width: 40px;
    height: 40px;
  }
  .button>p{
  	display: none;
  }
}
@media screen and (min-width:1300px) {
	.button>i{
		display: none;
		color:#A1B3D7;
	}
}
@media screen and (max-width:1300px) {
	.corporativ>a{
		font-size: 1.3em;
	}
	.footer{
		margin-top: 25%;
	}
	.footerLLL>ul>li>a{
		display: none;
	}
}
@media screen and (min-width:1100px) {
	.resMenu{
		display: none;
	}
}
@media screen and (max-width:1100px) {
	.corporativ{
		display: none;
	}
	.valyuta>ul{
		display: none;
	}
	.sliderL{
		width: 500px;
		height: 170px;
	}
	.sliderR{
		width: 327px;
		margin-right: 34px;
/*		height: 170px;
*/	}
.middle{
	width: 100%;
}
.slider{
	margin-left: 30px;
}
input{
	width: 100%;
	font-size: 1.2em;
}
.middle_menu{
	display: none;
}
.input {
    position: relative;
    font-size: 1.3em;
    display: block;
    padding: 20px 35px 20px 0;
    border-bottom: 3px solid rgba(255, 255, 255, .25);
    color: #fff;
    background-size: 26px;
}

.logo{
	position: absolute;
    left: 33%;
}
.middle {
    margin: 0 auto;
    left: 0%;
}
.but{
	position: absolute;
	left: 0
}
.searc {
   
    width: 45px;
    height: 85px;
    background-size: 23px;
    position: absolute;
    right: -4px;
    top: 30px;
}
.input {
    width: 85%;
    margin-left: 30px;
}
.footerL>ul{
	display: none;
}
.footerR{
	display: none;
}
.footerLL>p{
	margin:0;
}
}
@media screen and (max-width:660px) {
	.sliderR{
		display: none;
	}
	.sliderL{
		margin-right: 20px;
	}
	.footerLL{
		margin-top:80%;
	}
	#main {
    background-image: url(../ibarimg/img/glow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2e56a6;
    background-attachment: fixed;
    background-position: bottom center;
    /* width: 100vw; */
    /* height: 100vh; */
}

}
@media screen and (max-width:860px) {
	}
/*@media screen and (max-width: 800px) {
    .col_3 {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .col_3 {
        width: 100%;
    }
}
.hR{
        width: 23.3333%;
}*/